*{
  margin: 0;
  padding: 0;
}
html, body{
    font-family: Verdana, Tahoma, sans-serif;
    height: 100%;
  }
#wrapper{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
#profilepic{
  width: 20%;
  border-radius: 50%;
}
h1 {
  color: white;
}
h2{
  color:#3A3E34;
  background-color:#bababa;
  margin-bottom: 16px;
  margin-top: 10px;
}
#title{
  background-color: black;
}
header{
  display: flex;
  padding: 50px;
  background-color: black;
}
main{
  padding-left: 32px;
  flex: 1 0 auto;
}
footer{
  flex: 1 1 auto;
  background-color: black;
  max-height: 100px;
  padding: 20px;
}
a {
  color: #3A3E34;
}
i{
  color: #bebebe;
}
#rslogo{
  max-width: 30%;
  filter: invert(1);
  margin-bottom: 10px;
}

p{
  line-height: 1.5em;
  text-align: justify;

}
#white{
  font-weight: bold;
  color: white;
}